html {
  font: 20px Verdana;
  width: 1024px;
  margin: 40px auto;
  padding: 40px;

}

section { /*this flexbox have 3 div: contacts-photo, code and footer*/
  display: flex;
  flex-direction: column;
  background-color: cornsilk;
}


div.contacts-photo { /*this flexbox have 2 items: photo and info*/
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 20px;
}
.photo {
  width: 250px;
  margin: 10px;
  border: 10px solid white;
  border-radius: 50%;
  flex: 0.2 204px;
}
div.info { 
  flex: 2;
  padding: 20px;
}

div.code {
  background-color: #f5f5f5;
  padding: 0px 10px 0px;
  margin: 10px;
}
pre {
  padding: 20px;
  font-family: monospace;

  font-size: 12px;
}


footer { /*This flexbox have 3 items: GitHub, year and RSSchool */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: grey;
  font: bold 16px Verdana;
  padding-right: 20px;
}
.my-github {
  display: flex;
  justify-content: space-between;
  align-items: center;
}