:root {
--footer-color: #1A3F59;
--code-color: #D1ECFF;
--white: #ffffff;
}

html {
  font: 20px/1.5 Verdana;
  width: 1024px;
  margin: 40px auto;
  padding: 40px;
  border: 5px dashed var(--footer-color);
}

section { /*this flexbox have 3 div: contacts-photo, code and footer*/
  display: flex;
  flex-direction: column;
  background-color: var(--white);
}

div.contacts-photo { /*this flexbox have 2 items: photo and info*/
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-start;
  justify-content: space-between;
  padding: 20px;
}

.photo {
  margin: 10px;
  border: 10px solid var(--footer-color);
  border-radius: 50%;
  flex: 0.2 204px;
}

div.info { 
  flex: 2;
  padding: 20px;
}

div.code {
  background-color: var(--code-color);
  padding: 0px 10px 0px;
}

pre {
  padding: 20px;
  font: 12px/1.3 monospace;
}

footer { /*This flexbox have 3 items: GitHub, year and RSSchool */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: var(--footer-color);
  font: bold 16px Verdana;
  padding-right: 20px;
  color: var(--white);
}

.my-github {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--white);
}